{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Login {% endblock %}

{% block contenido %}
    <div class="content-section">
        <h1>Página de Login</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Login</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button type="submit">Ingresar</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Necesitas una cuenta? <a class="ml-2" href="{% url 'registro' %}">Regístrate aqui</a>
            </small>
        </div>
    </div>
{% endblock contenido %}