{% extends "base.html" %}
{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Nosotros</h4> 
    </div>
    <div class="card-body">
        <div class="container">
            <div class="parrafos">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Misión</th>
                            <th>Valor</th>
                            <th>Visión</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p class="pf1">Satisfacer de forma integral los requerimientos de nuestros vecinos, proporcionándoles ayuda y atención a sus parientes adultos mayores.</p></td>
                            <td><p class="pf2">Nuestro compromiso es entregar un servicio basado en excelencia de servicio, siempre con altos estándares éticos para asegurar el bienestar integral de nuestros vecinos.</p></td>
                            <td><p class="pf3">Queremos ser líder y referente en Chile, en servicios orientados a una mejor calidad de vida de nuestra comunidad.</p></td>
                        </tr>
                    </tbody>
                </table>    
            </div>

          
        </div>
    </div>
</div>    
{% endblock %}